html, body {
  margin: auto 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  /* max-width: 768px; */
  /* max-height: 200px; */
  /* aspect-ratio: 1.5; */
}

.ui-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 2;
  pointer-events: none;
  padding: 20px;
}

.canvas-container {
  position: absolute;
  z-index: 1;
}

.ui-button {
  pointer-events: auto;
}